/* Impostazioni di base per il reset dei margini, dei padding e del box-sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Stile per il contenitore dell'header */
/* HEADER  */
.container{
    background-color: blue; /* Sfondo blu per il contenitore */
    height: 75px; /* Altezza dell'header */
    max-width: 100%; /* Larghezza massima del contenitore */
    margin: auto; /* Margine automatico orizzontale, per centrare il contenitore */
    margin-bottom: 30px; /* Margine inferiore di 30px */
}

.row-menu{
    height: 100%; /* Altezza del 100% dell'header */
    margin: 0 auto; /* Margine automatico orizzontale, per centrare la riga */
    max-width: 450px; /* Larghezza massima della riga del menu */
    align-items: center; /* Allineamento verticale al centro degli elementi */
    display: flex; /* Utilizza il layout flessibile */
    justify-content: space-between; /* Spaziatura uniforme tra gli elementi, distribuiti lungo la riga */
}

/* Stile per l'elemento con classe .logo */
.logo{
    position: relative; /* Imposta la posizione relativa per l'elemento */
    width: 120px; /* Larghezza dell'elemento */
    height: 100%; /* Altezza del 100% rispetto al genitore dell'elemento */
    
}

/* Stile per l'immagine all'interno dell'elemento con classe .logo  */
.logo > img{
    position: absolute; /* Imposta la posizione assoluta per l'immagine */
    left: 50%; /* Posiziona l'immagine a metà larghezza dell'elemento genitore */
    top: 50%; /* Posiziona l'immagine a metà altezza dell'elemento genitore */
    transform: translate(-50%, -50%); /* Trasla l'immagine all'indietro del 50% della sua larghezza e altezza rispetto a se stessa */
}

/* Stile per l'elemento con classe .globalnav */
.globalnav{
    width: 10%; /* Larghezza del 10 % rispetto al contenitore genitore */
    height: 100%; /* Altezza del 100% rispetto al contenitore genitore */
}

/* Stile per i link all'interno dell'elemento con classe .globalnav-list */
.globalnav-list a{
    text-decoration: none; /* Rimuove la sottolineatura dei link */
    color: white; /* Colore del testo dei link bianco */
}

/* Stile per la lista non ordinata all'interno dell'elemento con classe .globalnav-list */
.globalnav-list ul{
    list-style: none; /* Rimuove i bullet points dalla lista */
    position: absolute; /* Imposta la posizione assoluta per la lista */
    right: -45%; /* Posiziona la lista a 45% della larghezza a destra del suo contenitore */
    top: 50%; /* Posiziona la lista a metà altezza del suo contenitore */
    transform: translate(-50%, -50%); /* Trasla la lista all'indietro del 50% della sua larghezza e altezza rispetto a se stessa */
}

.globalnav-list{
    width: 100%; /* Larghezza del 100% rispetto al contenitore genitore */
    height: 100%; /* Altezza del 100% rispetto al contenitore genitore */
    display: none; /* Nasconde l'elemento .globalnav-list di default */
    position: relative; /* Imposta la posizione relativa per l'elemento */
}

/* Stile per ogni elemento di lista all'interno dell'elemento .globalnav-list */
.globalnav-list li{
    display: inline-block; /* Mostra gli elementi di lista in linea */
    margin-left: 20px; /* Aggiunge uno spazio a sinistra tra gli elementi */
}

.row{
    background-color: red; /* Sfondo rosso per le righe */
    display: flex; /* Utilizza il layout flessibile */
    flex-direction: column; /* Imposta la direzione delle colonne all'interno delle righe */
    margin: auto; /* Margine automatico orizzontale per centrare le righe */
}


/* MAIN  */
/* FIRST SECTION */
.s-first{
    background-color: lightgrey; /* Sfondo grigio chiaro per la sezione "s-first" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}

.col-double, .col-s1{
    width: calc(100% - 20px); /* Imposta la larghezza delle colonne a 100% meno 20px di spaziatura */
    background-color: white; /* Sfondo bianco per le colonne */
    height: 450px; /* Altezza delle colonne */
    margin: 10px; /* Margine di 10px per le colonne */
    border-radius: 25px; /* Bordi arrotondati delle colonne */
}

/* SECTION SECTION   */
.s-second{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-second" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}


.col-s2{
    width: calc(100% - 20px); /* Imposta la larghezza delle colonne a 100% meno 20px di spaziatura */
    background-color:white; /* Sfondo bianco per le colonne */
    height: 450px; /* Altezza delle colonne */
    margin: 10px; /* Margine di 10px per le colonne */
    border-radius: 35px; /* Bordi arrotondati delle colonne */
}

/* THIRD SECTION */
.s-third{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-third" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}

.col-s3{
    width: calc(100% - 20px); /* Imposta la larghezza delle colonne a 100% meno 20px di spaziatura */
    background-color:white; /* Sfondo bianco per le colonne */
    height: 450px; /* Altezza delle colonne */
    margin: 10px; /* Margine di 10px per le colonne */
    border-radius: 35px; /* Bordi arrotondati delle colonne */
}

/* FOURTH SECTION */
.s-fourth{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-fourth" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}

.col-s4{
    width: calc(100% - 20px); /* Imposta la larghezza delle colonne a 100% meno 20px di spaziatura */
    background-color: white; /* Sfondo bianco per le colonne */
    height: 450px; /* Altezza delle colonne */
    margin: 10px; /* Margine di 10px per le colonne */
    border-radius: 25px; /* Bordi arrotondati delle colonne */
}

/* FIVE SECTION */
.s-fifth{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-fifth" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}


/* FOOTER */
.s-sith{
    background-color: lightgray;
}


/* DESKTOP */
/* Stili per dimensioni diverse usando un media query */
@media screen and (min-width: 991px) {
    .globalnav-list{
        display: block; /* Mostra l'elemento .globalnav-list sopra i 991px di larghezza dello schermo */
    }

    .globalnav{
        min-width: 500px; /* Imposta una larghezza minima di 500px per l'elemento .globalnav */
    }

    .col-s2{
        width: calc(50% - 20px)  /* Imposta la larghezza delle colonne a 50% meno 20px di spaziatura */
    }

    .col-s4{
        width: calc(100% / 3 - 20px) /* Calcola la larghezza come un terzo della larghezza totale meno 20px di spaziatura */
    }

    
}

/* LARGE DESKTOP */
@media screen and (min-width: 1200px) {
    .row-menu{
        max-width: 1170px; /* Limita la larghezza massima della riga del menu */
    }

    .row{
        max-width: 1170px; /* Limita la larghezza massima delle righe */
    }

    .globalnav-list{
        display: block; /* Mostra l'elemento .globalnav-list sopra i 1200px di larghezza dello schermo */
    }

    .globalnav{
        min-width: 500px; /* Imposta una larghezza minima di 500px per l'elemento .globalnav */
    }
}

/* Stile applicato quando la larghezza dello schermo è di almeno 768px */
/* TABLET */
@media screen and (min-width: 768px) {
    .row-menu{
        max-width: 750px; /* Imposta la larghezza massima del contenitore dell'header a 750px */
    }

    .globalnav-list{
        display: none; /* Nasconde l'elenco di navigazione globale */
    }

    .row{
        /* Imposta il layout flessibile per le righe e avvolgi le colonne quando lo spazio è insufficiente */
        flex-direction: row; 
        flex-wrap: wrap;
    }

    .col-double{
        /* Imposta la larghezza delle colonne a due terzi della larghezza totale meno 20px di spaziatura */
        width: calc(100% / 3 * 2 - 20px);
    }

    .col-s1{
        /* Imposta la larghezza delle colonne singole a un terzo della larghezza totale meno 20px di spaziatura */
        width: calc(100% / 3 - 20px)
    }

    .col-s2{
        /* Imposta la larghezza delle colonne singole a 100% della larghezza totale meno 20px di spaziatura */
        width: calc(100% - 20px)
    }

    .col-s4{
        /* Imposta la larghezza delle colonne a metà della larghezza totale meno 20px di spaziatura */
        width: calc(100% / 2 - 20px)
    }
}
