/* Impostazioni di base per il reset dei margini, dei padding e del box-sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* UTILIS  */
/* Stili per il layout flessibile */
.flex{
    display: flex;
}

/* Imposta le dimensioni massime del contenitore e lo centra horizontalmente */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.f-column{
    flex-direction: column;
}

.br-40{
    border-radius: 40px;
}

p{
    line-height: 150%;
    color: rgb(101, 124, 142);
    font-weight: bold;
}

h4{
    font-size: 1.5rem;
}

.text-align{
    text-align: center;
    margin: 20px 0;
}

.awesome-icon{
    font-size: 100px;
    color: #0084fd;
}



/* HEADER  */
/* Stili per l'intestazione del sito */
header{
    color: white;
    background-color: #0084fd;
    margin-bottom: 30px;
}

/* Allinea il contenuto dell'intestazione e crea spazio tra gli elementi */
header .container{
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* Stili per l'icona dei menu a scomparsa */
header .fa-bars{
    font-size: 18px;
}

/* Stili per i link del menu di navigazione */
.nav-menu a{
    text-decoration: none;
    color: white;
}

/* Stili per ciascun elemento della lista del menu */
.nav-menu li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
 
/* Stili per l'ultimo elemento della lista del menu */
.nav-menu ul li:last-child{
    background-color: white;
    border-radius: 20px;
    padding: 7px;
}

/* Stili per il pulsante nell'intestazione del menu */
.nav-menu #h-button{
    color: black;
}

/* Nasconde inizialmente il menu di navigazione */
.nav-menu{
    display: none;
}



.row{
    background-color: red; /* Sfondo rosso per le righe */
    display: flex; /* Utilizza il layout flessibile */
    flex-direction: column; /* Imposta la direzione delle colonne all'interno delle righe */
    margin: auto; /* Margine automatico orizzontale per centrare le righe */
}



/* MAIN  */
/* FIRST SECTION */
.s-first{
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}

.s-first h4{
    color: #0084fd;
}

.col-s1{
    background-color: rgb(177, 220, 254);
    padding: 30px;
}

.col-s1 .col-s1-content{
    padding: 20px 0;
}

.col-s1 a{
    text-decoration: none;
    color: white;
}

.col-s1 img{
    max-width: 100%;
}

.col-s1:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.col-s1:nth-child(2){
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.col-s1 .col-s1-button{
    background-color: #0084fd;
    padding: 7px;
    width: 70%;
    text-align: center;
}




/* SECTION SECTION   */
.s-second{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-second" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}

.col-s2{
    width: calc(100% - 20px); /* Imposta la larghezza delle colonne a 100% meno 20px di spaziatura */
    background-color:white; /* Sfondo bianco per le colonne */
    height: 450px; /* Altezza delle colonne */
    margin: 10px; /* Margine di 10px per le colonne */
    border-radius: 35px; /* Bordi arrotondati delle colonne */
}



/* THIRD SECTION */
.s-third{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-third" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}

.col-s3{
    width: calc(100% - 20px); /* Imposta la larghezza delle colonne a 100% meno 20px di spaziatura */
    background-color:white; /* Sfondo bianco per le colonne */
    height: 450px; /* Altezza delle colonne */
    margin: 10px; /* Margine di 10px per le colonne */
    border-radius: 35px; /* Bordi arrotondati delle colonne */
}



/* FOURTH SECTION */
.s-fourth{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-fourth" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}

.col-s4{
    width: calc(100% - 20px); /* Imposta la larghezza delle colonne a 100% meno 20px di spaziatura */
    background-color: white; /* Sfondo bianco per le colonne */
    height: 450px; /* Altezza delle colonne */
    margin: 10px; /* Margine di 10px per le colonne */
    border-radius: 25px; /* Bordi arrotondati delle colonne */
}



/* FIVE SECTION */
.s-fifth{
    background-color: lightgray; /* Sfondo grigio chiaro per la sezione "s-fifth" */
    margin-bottom: 50px; /* Margine inferiore di 50px per la sezione */
}



/* FOOTER */
.s-sith{
    background-color: lightgray;
}



/* DESKTOP */
/* Stili per dimensioni diverse usando un media query */
@media screen and (min-width: 991px) {
    .header .nav-menu{
        display: block; /* Mostra l'elemento .nav-menu sopra i 991px di larghezza dello schermo */
    }

    .col-s2{
        width: calc(50% - 20px)  /* Imposta la larghezza delle colonne a 50% meno 20px di spaziatura */
    }

    .col-s4{
        width: calc(100% / 3 - 20px) /* Calcola la larghezza come un terzo della larghezza totale meno 20px di spaziatura */
    }

    
}



/* LARGE DESKTOP */
@media screen and (min-width: 1200px) {

    .row{
        max-width: 1170px; /* Limita la larghezza massima delle righe */
    }

    .nav-menu{
        display: block; /* Mostra l'elemento .nav-menu sopra i 1200px di larghezza dello schermo */
    }
}



/* Stile applicato quando la larghezza dello schermo è di almeno 768px */
/* TABLET */
@media screen and (min-width: 768px) {
    .s-first .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col-s1{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

    header .fa-bars{
        display: none;
    }
}